.redBackground {
    background-color: red;
}

.whiteText {
    color: white;
}

.navLink {
    color: white;
    margin-right: 20px;
    /* Ajoutez une marge à droite pour espacer les liens */
    /* Ajoutez d'autres styles personnalisés au besoin */
}