body {
    margin: 0;
    font-family: poppins;
}


.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f5f5f5;
    padding: 10px 0;
   }
   
   .nav-item {
    padding: 10px;
    text-align: center;
    cursor: pointer;
   }
   
   @media (max-width: 768px) {
    .nav {
       flex-direction: column;
    }
   }